<body class="infobar-offcanvas">
        
  <div id="headerbar" class="hidden-sm hidden-xs">
	<div class="container-fluid">
    <div class="yamm-content container-sm-height">
      <div class="row row-sm-height yamm-col-bordered">
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">                                            
          <h3 class="yamm-category">Plugins</h3>
          <ul class="list-unstyled without-icon">
            <li><a href="#"><i class="ion-shuffle"></i><span>Components</span></a></li>
            <li><a href="#"><i class="ion-map"></i><span>Maps</span></a></li>
            <li><a href="#"><i class="ion-android-create"></i><span>Forms</span></a></li>
            <li><a href="#"><i class="ion-android-contract"></i><span>Tables</span></a></li>
            <li><a href="#"><i class="ion-calendar"></i><span>Calendar</span></a></li>
            <li><a href="#"><i class="ion-stats-bars"></i><span>Analytics</span></a></li>
            <li><a href="#"><i class="ion-android-image"></i><span>Image Galleries</span></a></li>
            <li><a href="#"><i class="ion-android-arrow-up"></i><span>File-Uploader</span></a></li> 
          </ul>                                    
        </div>
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
          <h3 class="yamm-category">Group</h3>
          <ul class="list-unstyled without-icon">
            <li>
              <a href="#">
                <span class="name">Link</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">Another link</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">Something</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">Without icon</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">More</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
          <h3 class="yamm-category">Recent Post</h3>
          <ul class="media-list">
            <li class="media new">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_01.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Amy Green</span><span class="muted">Integer vitae libero ac risus egestas placerat.</span>
                </div>
              </a>
            </li>
            <li class="media new">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_09.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Daniel Andrews</span><span class="muted">Vestibulum commodo felis quis tortor</span>
                </div>
              </a>
            </li>
            <li class="media">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_03.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Harold Hawkins</span><span class="muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </a>
            </li>
            <li class="media">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_02.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Jane Simpson</span><span class="muted">Fusce lobortis lorem at ipsum semper sagittis.</span>
                </div>
              </a>
            </li>
          </ul>  
        </div>
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
          <h3 class="yamm-category">Shortcut</h3>
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile inverse">
                <span class="icon"><i class="ion-beer"></i></span>
                <span class="title">Accordions</span>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile warning">
                <span class="icon"><i class="ion-alert-circled"></i></span>
                <span class="title">Alert Info</span>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile alt primary">
                <span class="icon"><i class="ion-quote"></i></span>
                <span class="title">View All</span>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile alt indigo">
                <span class="icon"><i class="ion-arrow-move"></i></span>
                <span class="title">Drag & Drop</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">
			<!--<img class="img-white" src="assets/img/logo-white.png" alt="Tectonic">-->
			<img class="img-dark" src="assets/img/logo-dark.png" alt="Tectonic">
		</a>
	</div>

	<!-- Trigger -->
	<span id="trigger-leftbar" class="toolbar-trigger">
		<a data-toggle="tooltips" data-placement="right" title="Toggle Leftbar"><span class="icon"><i class="ion-android-arrow-back"></i></span></a>
	</span>

	<span class="toolbar-trigger">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tectonic-topnav-collapsible" aria-expanded="false">
			<span class="icon"><i class="ion-more"></i></span>
		</button>
	</span>

	<!-- Togglable navigation -->
	<div class="collapse navbar-collapse" id="tectonic-topnav-collapsible">
		<ul class="yamm nav navbar-nav navbar-right">
			<li class="" id="trigger-fullscreen">
				<a href="#" class="toggle-fullscreen"><span class="icon"><i class="arrow_expand"></i></span><span class="text hidden-sm hidden-lg hidden-md">Go to Fullscreen</span></a>
			</li>

			<li class="dropdown dropdown-lg">
				<a href="#" class="dropdown-toggle" data-toggle='dropdown'>
					<span class="icon"><i class="ion-android-mail"></i></span>
					<span class="text hidden-sm hidden-lg hidden-md">Messages</span>
					<span class="badge badge-pink">2</span>
					<!-- <span class="label label-pink hidden-lg hidden-sm hidden-md">text</span> -->
				</a>

				<div class="dropdown-menu messages">
					<div class="dropdown-header clearfix">
						<span class="pull-left" data-localize="top-nav-notific_two_new_message">2 new message(s)</span>
						<span class="mark-read pull-right"><i class="ion-android-done-all"></i></span>
					</div>
					<div class="scroll-pane">
						<ul class="media-list scroll-content">
							<li class="media new">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
										<span class="status online"></span>
									</div>
									<div class="media-body">
										<span class="name">Amy Green</span><span class="message">Integer vitae libero ac risus egestas placerat.</span>
										<span class="time" data-localize="topnav_2mins_ago">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media new">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_09.png">
										<span class="status online"></span>
									</div>
									<div class="media-body">
										<span class="name">Daniel Andrews</span><span class="message">Vestibulum commodo felis quis tortor</span>
										<span class="time" data-localize="topnav_2mins_ago">2 mins ago</span>
									</div>
								</a>
							</li>
							<li>
								<span class="category-heading">Older</span>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_03.png">
										<span class="status away"></span>
									</div>
									<div class="media-body">
										<span class="name">Harold Hawkins</span><span class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
										<span class="time" data-localize="topnav_2mins_ago">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_02.png">
										<span class="status offline"></span>
									</div>
									<div class="media-body">
										<span class="name">Jane Simpson</span><span class="message">Fusce lobortis lorem at ipsum semper sagittis.</span>
										<span class="time" data-localize="topnav_2mins_ago">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_04.png">
										<span class="status offline"></span>
									</div>
									<div class="media-body">
										<span class="name">Brian Fisher</span><span class="message">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</span>
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_05.png">
										<span class="status offline"></span>
									</div>
									<div class="media-body">
										<span class="name">Dylan Black</span><span class="message">Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</span>
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<img class="avatar" alt="" src="assets/demo/avatar/avatar_06.png">
										<span class="status offline"></span>
									</div>
									<div class="media-body">
										<span class="name">Bobby Harper</span><span class="message">Sed adipiscing ornare risus. Morbi est est, blandit sit amet.</span>
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="dropdown-footer clearfix">
						<a href="#" class="pull-left" data-localize="top_nav_see_all">See all</a>
						<a href="#" class="pull-right" data-localize="top_nav_settings">Settings</a>
					</div>
				</div>
			</li>

			<li class="dropdown dropdown-lg">
				<a href="#" class="dropdown-toggle" data-toggle='dropdown'>
					<span class="icon"><i class="ion-android-notifications"></i></span>
					<span class="text hidden-sm hidden-lg hidden-md">Notifications</span>
					<span class="badge badge-deep-purple">2</span>
					<!-- <span class="label label-deep-purple hidden-lg hidden-sm hidden-md">text</span> -->
				</a>

				<div class="dropdown-menu notifications">
					<div class="dropdown-header clearfix">
						<span class="pull-left" data-localize="top-nav-notific_two_new_notification">2 new notification(s)</span>
						<span class="mark-read pull-right"><i class="ion-android-done-all"></i></span>
					</div>
					<div class="scroll-pane">
						<ul class="media-list scroll-content">
							<li class="media new">
								<a href="#">
									<div class="media-left">
										<span class="icon success"><i class="ion-checkmark-circled"></i></span>
									</div>
									<div class="media-body">
										<span class="name">Jerrod Miller</span> is now following you.
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media new">
								<a href="#">
									<div class="media-left">
										<span class="icon purple"><i class="ion-android-sync"></i></span>
									</div>
									<div class="media-body">
										<span class="name">Ben Hepworth</span> updated project <span class="link">Marvin</span>
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li>
								<span class="category-heading" data-localize="top_nav_notific_older">Older</span>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<span class="icon blue"><i class="ion-android-document"></i></span>
									</div>
									<div class="media-body">
										<span class="name">Ken Duren</span> added new files.
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<span class="icon success"><i class="ion-android-done"></i></span>
									</div>
									<div class="media-body">
										Your changes were saved.
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<span class="icon info"><i class="ion-android-done"></i></span>
									</div>
									<div class="media-body">
										Your changes were saved.
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="#">
									<div class="media-left">
										<span class="icon teal"><i class="ion-android-done"></i></span>
									</div>
									<div class="media-body">
										Your changes were saved.
										<span class="time">2 mins ago</span>
									</div>
								</a>
							</li>
							
						</ul>
					</div>
					<div class="dropdown-footer clearfix">
						<a href="#" class="pull-left" data-localize="top_nav_see_all">See all</a>
						<a href="#" class="pull-right" data-localize="top_nav_settings">Settings</a>
					</div>
				</div>
			</li>

			<li class="dropdown username" style="margin-right:15px;">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					<span class="icon visible-xs"><i class="ion-android-person"></i></span>
					<span class="text hidden-sm" data-localize="topnav_person">jon@tectonic.io</span>
					<span class="avatar"><img class="img-responsive img-rounded" src="assets/demo/avatar/avatar_06.png"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<div class="userinfo">
							<span class="avatar"><img class="img-responsive img-circle" src="assets/demo/avatar/avatar_06.png"></span>
							<span class="name" data-localize="topnav_jonathan_smith">Jonathan Smith</span>
							<span class="email" data-localize="topnav_person">jon@tectonic.io</span>
							<button class="btn btn-orange btn-sm mt-md" data-localize="topnav_upgrade">Upgrade</button>
						</div>
					</li>
					<li role="separator" class="divider"></li>
					<li><a href="#"><i class="ion-android-create"></i><span data-localize="topnav_edit_profile">Edit Profile</span></a></li>
					<li><a href="#"><i class="ion-arrow-down-c"></i><span data-localize="topnav_downloads">Downloads</span></a></li>
					<li><a href="#"><i class="ion-ios-settings-strong"></i><span data-localize="topnav_settings">Settings</span></a></li>
					<li><a href="#"><i class="ion-help-buoy"></i><span data-localize="topnav_support">Support</span></a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#"><i class="ion-arrow-right-c"></i><span data-localize="topnav_logout">Logout</span></a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</header>