<!-- views/partials/nav.ejs -->
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="title-bar" data-responsive-toggle="navigation" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvas"></button>
        <span class="title-bar-title">Foundation</span>
      </div>
    </div>


  <div class="row expanded">
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
        <ul class="vertical menu">
          <li><a href="/">Logo</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">My Account</a></li>
          <% if (locals.auth) { %>
            <li><a href="/auth/logout">Logout</a></li>
          <% } %>
        </ul>
    </div>

    <nav id="navigation" class="large-2 medium-3 columns">
      <ul class="menu vertical">
        <li>
          <a href="/">Logo</a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/profile">My Account</a>
        </li>
        <% if (locals.auth) { %>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </nav>

    <div class="large-10 medium-9 padded columns">